<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PeterInfoTestPropertyName</key>
	<string>PeterInfoTestPropertyValue</string>
	<key>PeterTestPropertyName1</key>
	<string>PeterTestPropertyValue1</string>
	<key>PeterTestPropertyName2</key>
	<string>PeterTestPropertyValue2</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.748381179204-pmnlavrbccrsc9v17qtqepjum0rd1kok</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
